/* IMPOSTAZIONI GENERALI */

:root {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap')

}



body {

    
        font-family:'Poppins', serif;
        font-weight: 400, 600;
        background-image: url(../img/sfondo.png);
        background-position: center center;
        padding: 20px;
        list-style-type: none;
            
 }

 b {
  font-size: 600;
  color: black;

 }
   
  
/* HEADER */
#riq-header{
   
    max-height: 100%;
    background-color: rgb(64, 146, 223);
     margin: 11px;
    box-shadow: 3px 3px 5px rgba(187, 187, 187, 0.884);
    text-align: center;
  
   
}

.img {
  margin-top: 30px;
  width: 200px;
  
}

#menu {
    margin-top: 20px;
    margin-bottom: 30px;
}




/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
