header {
    margin: 5px 5px;
    background-color: #170a48;
    border-radius: 5px;
    nav{
        ul{
            padding: 15px 20px;
            margin-top: 5px;
            li{
                display: inline-block;
                margin-right: 2vw;
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                }
                

                
            }
        }
    }
}