body {
    background-image: url(../assets/earth-ga53056927_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.calcolatrice {  
    text-align: center; 
}

@font-face {
    font-family: FontPersonale;
    src: url('../font/SF-pro-regular.ttf') format('truetype');
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: white;
}
/*ho preso questo codice da internet perchè ero sicuro al 100% che non avevamo visto come colorare il numero nel placeholder*/

#calculator {
    background-image: url(../assets/apple-iphone-13-pro-max-2021-medium.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 750px;
    padding-top: 230px;
    
}


h1 {
    font-family: FontPersonale;
    font-size: 80px;
    text-align: center;
    color:#f69906;
}
.tasto {
    background-color: #313131;
    color: white;
    font-size: 36px;
    border: none;
    margin: 4px 2px;
    height: 67px;
    width: 67px;
    border-radius: 50%;
    
    
}

.nero:hover {
    background-color: #242424;
}


.display {
    background: none;
    color: white;
    font-size: 75px;
    border:black solid 2px;
    margin: 4px 2px;
    width: 270px;
    height: 67px;            
}

.per{
    background-color: #f69906;
}

.diviso {
    background-color: #f69906;
    font-size: 50px;
}

.più{
    background-color: #f69906;
}

.meno{
    background-color: #f69906;
}

.uguale{
    background-color: #f69906;
}

.arancione:hover {
    background-color: #b87303;
  }

.c-grande{
    width: 217px;
    border-radius: 15% / 50%;
    background-color: #9f9f9f;
    color: black;
    
}

.grigio:hover {
    background-color: #747474 ;
}

.grande-0{
    width: 147px;
    border-radius: 25% / 50%;
}



