.cards {
    border-radius: 20%;
    display: flex;
    justify-content: center;
    overflow:hidden;
    align-items: center;
    flex-direction: column;
    background-color: #fbf7e3;
    width: 380px;
}

.cards img {
    width: 100%;
 }

 .card-sezione {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #612406 ;
 }

 .card-testo h3{
    margin-bottom: 0;
    font-weight: 700;
 }
 .card-testo p {
    margin-top: 0;
    padding-left: 1em;
 }

 .prezzo {
    margin: 2vw;
 }

 .cards button {
    margin-bottom: 2vh;
    border: none;
    border-radius: 25% / 50%;
    background-color: #f3df85;
    padding: 1em 2em;
    color: #612406  ;
 }