@import 'variables';
@import 'buttons';

body {
    background-color: $colore_sfondo;
    margin: $margin_documento;
}



nav {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: $weight_nav;
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin: 1vh;
            font-size: 0.8em;

            a {
                color: #e5c7f7;
                text-decoration: none;
            }
        }
    }
}

#container {
    display: flex;
    align-items: center;

    #testi {
        display: flex;
        flex-direction: column;
        width: 60vw;
        

        h1 {
            display: flex;
            margin-bottom: 0;
            
        }

        p {
            display: flex;
            margin-top: 0;
        }
    }

    #image {
        width: 40vw;

        img {
            width: 50%;
        }
    }

    
}